@charset "UTF-8";

li {
    list-style: none
}


.bcontainer {
    width: 100%;
    margin: 0 auto
}


.tab-content {
    display: none;
    background: #fff;
    line-height: 1.4;
    padding: 30px
}

.tab-content h2 {
    opacity: .9;
    font-family: Conv_Montserrat-Regular;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.44;
    text-align: left;
    color: #000;
    margin-bottom: 50px
}

.tab-content .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 4px
}

.tab-content .item .key {
    opacity: .85;
    font-family: Conv_Montserrat-Regular;
    font-weight: 600;
    padding-right: 10px
}

.tab-content .item .key,
.tab-content .item .value {
    font-size: 14px;
    line-height: 1.86;
    text-align: left;
    color: #000
}

.tab-content .item .value {
    opacity: .9;
    font-family: Conv_Montserrat-Light
}

.tab-content .item .color {
    color: #1d86ff
}

.tab-content.current {
    display: inherit;
    fill: #6ccc62
}

.uzb_map svg path {
    cursor: pointer
}

.uzb_map svg ellipse {
    cursor: pointer
}

.uzb_map svg {
    position: relative;
    z-index: 5
}

.color {
    fill: #ce434a; !important;
}

legend {
    background: #35a6ff;
    border-radius: 4px;
    padding: 10px;
    color: white !important;
    margin: 0;
    text-align: center;
}

legend h3 {
    color:white;
}

.tooltip {
    opacity: 1 !important;
}

.item {
    padding: 4px 20px 4px 20px !important;
}